<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rishy.procom.possas">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginRegist"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT"
                    android:screenOrientation="portrait"/>
            </intent-filter>
        </activity>

        <activity
        android:name=".LoginAct">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER"
                android:screenOrientation="portrait"/>
        </intent-filter>
    </activity>
        <activity
            android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT"
                    android:screenOrientation="portrait"/>
            </intent-filter>
        </activity>
        <activity
        android:name=".ResetPasswordActivity">
        <intent-filter>
            <action android:name="android.intent.action.DEFAULT"
                android:screenOrientation="portrait"/>
        </intent-filter>
    </activity>
        <activity
            android:name=".MeetingSetup">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT"
                    android:screenOrientation="portrait"/>
            </intent-filter>
        </activity>



    </application>

</manifest>